[user]
        name = "Abdelhakim Bachar"
[push]
        default = simple
[alias]
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        st = status
        co = checkout
        ci = commit
        br = branch
        ls = ls-files
        unstage = reset HEAD
        ign = ls-files -o -i --exclude-standard
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
